/* Font Import  */
     /* Font for Body */
@font-face {
    font-family: 'cantarellregular';
    src: url('Cantarell-Regular-webfont.eot');
    src: url('Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-Regular-webfont.woff2') format('woff2'),
         url('./fonts/cantarell_regular_macroman/Cantarell-Regular-webfont.woff') format('woff'),
         url('./fonts/Cantarell-Regular.ttf') format('truetype'),
         url('Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






/* About Page Styling */

.columnsection{
  display: flex;
justify-content: space-around;
}

.columnfacts{
background-color: #797a91;
padding: 5px;
line-height: 2;
color: white;
font-family: cantarellregular;
}

.columnbooks{
background-color: #85a7ac;
padding: 5px;
line-height: 1.5;
color: white;
font-family: cantarellregular;

     /* By ID  */
}

#subheader {

text-align: center;
}



#about-header h1 {
  text-align: center;
  color: #254567;
}


/* Index Styling  */


.greeting {
  text-align: center;


}

    /* Image Section */
  .image-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .imagethree {
    width: 400px;
    height: 450px;
  }

    /* By id and tag  */
#indexheader h1 {
  text-align: center;
  color: #254567;
}












/*  Contact Styling */

 .contact-greeting {
   color: #797a91;
   text-align: center;

 }




  /* input form and text area  */

   form {
     display: flex;
     justify-content: center;
   }





   .fname {
     border: 3px solid #85a7ac;
     padding: 5px;
     margin: 15px;
     flex: 1;

   }

   .lname {
     border: 3px solid #85a7ac;
     padding: 5px;
     margin: 15px;
     flex: 1;
   }

   .textarea {
     border: 3px solid #85a7ac;
     padding: 5px;
     margin: 15px;
     flex: 2;
   }

   .button {
     border: 3px solid #85a7ac;
     padding: 5px;
     margin: 15px;
     flex: 1;
     background-color: #254567;
     color: white;
   }

     /* By id and tag  */
     #contact-header h1 {
       text-align: center;
       color: #254567;
     }












p {
  font-family: cantarellregular;
}

body {
  background-color: #d9e4d0;
}

h1 {
  font-family: cantarellregular;
}


/* Nav Bar   */




.navbar {
  font-size: 18px;
  border: 1px solid;
  background-color: #161536;



}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;

}

.navl-1 a {
color: white;
}

.navl-2 a {
color: white;
}

.navl-3 a {
color: white;
}

a:hover {
  background-color: #45a9c5;
}

/* Media Queries  */


  @media (max-width: 600px) {
      /* Nav Bar  */

      .navbar {
        font-size: 18px;
        background-color: #161536;
      }

      .container{
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        flex-direction: column;
      }

       /*About Page */

       .columnsection{
         display: flex;
       justify-content: space-around;
       flex-direction: column;
       align-items: center;
       }

       .columnfacts{
       background-color: #797a91;
       padding: 5px;
       line-height: 2;
       color: white;
       font-family: cantarellregular;
       margin: 5px;
       }

       .columnbooks{
       background-color: #85a7ac;
       padding: 5px;
       line-height: 1.5;
       color: white;
       font-family: cantarellregular;
       margin: 5px;
      }


        /* Contact Page   */
        form {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }


        /*Home Page */
        .image-group {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
        }

        .imagethree {
          width: 400px;
          height: 450px;
        }

  }
